body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 90px; /* Player ke liye jagah */
    user-select: none; /* App feel */
}

/* Top Bar */
.top-bar {
    background: #000;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo { margin: 0 0 10px 0; color: #1DB954; }

.search-box {
    display: flex;
    gap: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background: #333;
    color: white;
    font-size: 16px;
}

button { cursor: pointer; }

/* Song List */
.results-container { padding: 10px; }
.placeholder-text { text-align: center; color: #777; margin-top: 50px; }

.song-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #282828;
    background: #181818;
    margin-bottom: 5px;
    border-radius: 5px;
}

.song-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 15px;
}

.song-details { flex: 1; }
.s-title { font-weight: bold; font-size: 15px; }
.s-artist { color: #b3b3b3; font-size: 13px; }

/* Bottom Player */
.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #202020;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
}

.song-info { display: flex; align-items: center; flex: 1; }
.song-info img { width: 50px; height: 50px; border-radius: 5px; margin-right: 10px; }
.title { font-size: 14px; font-weight: bold; white-space: nowrap; overflow: hidden; max-width: 150px; }
.artist { font-size: 12px; color: #bbb; }

.controls { display: flex; gap: 15px; align-items: center; }
.play-btn {
    background: #1DB954;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    color: black;
}
.dl-btn {
    background: transparent;
    border: 1px solid #777;
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
}
